.title_dialog{
    color:#484747;
    font-family: Poppins-Medium;
    font-size: 20px;
}
.description{
    font-family: "Poppins-Regular";
    margin-bottom: 10%;
    font-size:16px;
}
.top{
    top: -12px;
}