<div mat-dialog-content>
    <div class="row">
       
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 div_message">
            <p class="message_style" >{{ data.message }}</p>

        </div>

    </div>
    
</div>
<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">

    <mat-dialog-actions>
        
                <button mat-button class="button_accept btn btn-block" (click)="cancel()">

                    <strong>Aceptar</strong>
                </button>
            
    </mat-dialog-actions>
</div>



