<div class="row" style=" margin-bottom: 15px;">
    <div class="col-md-12 col-xs-12">
        <strong class="style_home">Inicio</strong>

    </div>


</div>


    <!-- PRIMERO FILA -->

  <div class="row" style="justify-content: center;">

     <!--  VENTAS DEL DIA -->
      <div class="col-md-3 col-xs-12 card-height card_sales_of_day" >
      <div class="row">
          <div class="col-8">
              <p class="first_text_cards">Ventas del dia</p>
              <p class="second_text_cards">Total dia actual</p>

          </div>
          <div class=" col-2">
              <p  class="value_cards_first_row">13</p>
              

          </div>
      </div>
         
      </div>
      <!-- VENTAS DEL MES -->
      <div class="col-md-3 col-xs-12 card-height card_sales_of_month"    >
      <div class="row">
          <div class=" col-8">
              <p class="first_text_cards">Ventas del mes</p>
              <p  class="second_text_cards">Total mes actual</p>

          </div>
          <div class=" col-2 " style="margin: inherit;">
              <p class="value_cards_first_row">65</p>
              

          </div>
      </div>
         
      </div>

      <!-- VENTAS DEL  AÑO -->
      <div class="col-md-3 col-xs-12 card-height card_sales_of_year"  >
         

         <div class="row">
          <div class="col-7">
              <p class="first_text_cards">Ventas del año</p>
              <p  class="second_text_cards">Total año actual</p>

          </div>
          <div class=" col-5" style="margin: inherit;">
              <p class="value_cards_first_row">{{ 31800 | currency }}</p>
              

          </div>
      </div>
          </div>

  </div>
  
   

