<mat-card class="login-card">

    <div class="login-card-header">
   
        <h1>BIENVENIDO</h1>
    
    </div>
    <form [formGroup]="userCredentials">
      <mat-card-content>
        <mat-form-field appearance="outline" style="width:100%;" class="login-input">
          <input matInput formControlName="email" placeholder="Correo">
          <mat-icon  matSuffix>person</mat-icon>
          <mat-error>Este campo debe ser llenado con un email válido</mat-error>
        <mat-hint>Ejemplo prueba@gmail.com</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width:100%;">
          <input matInput [type]="hide?'text':'password'" placeholder="Contraseña" formControlName="contrasena">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon >{{hide ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-hint>La contraseña debe contener 8-20 caracteres</mat-hint>
        <mat-error>Por favor llene este campo</mat-error>
        </mat-form-field>
        <span class="register-business" style=""><a class="forgot_password" color="primary" href="https://www.google.com"
            style="text-decoration: blue;">Olvidaste tu
            contraseña?</a></span>
  
        <div class="login-card-bottom">
          <button mat-raised-button class="login-button" (click)="login()">Iniciar sesión</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
