h1 {
    color: #c0dff9;
    font-family: Poppins-Medium;
    font-size: 22px;
    
}
.redirect-button {
    background-color: #bbe1f8;
    color: white;
    width: 30%;
    height: 52px;
    font-size: 16px;
    font-family: Poppins-Medium;
    border-radius: 30px;
}